h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4em;
}

.lista-productos {
  display: flex;
  gap: 2em;
}

.product-card {
  border: 2px solid black;
  padding: 20px;
}

form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
